* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color: hsl(25, 25%, 90%);
  min-height: 100svh;
}

main {
  position: relative;
}

.header {
  position: fixed;
  left: 0;
  min-height: 100svh;
  background-color: hsl(0, 0%, 20%, 0.9);
  z-index: 1;
}

.header {
  position: fixed;
  transition: transform 500ms ease-in-out;
  transform: translateX(-300px);
}

.header.opened {
  transform: translateX(0px);
}

ul:where(.nav__list),
li:where(.nav__item) {
  padding: 0;
}

.nav__primary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100svh;
}

.nav__list {
  list-style: none;
}

.nav__list--primary {
  display: flex;
  flex-direction: column;
}

.nav__link,
.nav__item--user {
  padding: 1em;
}

.nav__item,
.nav__link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(25, 25%, 90%);
  text-decoration: none;
}

.nav__link:hover:not(.nav__item--user) {
  cursor: pointer;
  background-color: hsl(0, 0%, 40%, 0.7);
  border-right: 5px solid hsl(0, 100%, 35%, 1);
}

.nav__link:focus {
  outline: hsl(25, 25%, 90%) dashed 2px;
  outline-offset: -12px;
  background-color: hsl(0, 0%, 40%, 0.7);
  border-right: 4px solid hsl(0, 100%, 35%, 1);
}

.nav__link:active {
  background-color: hsl(100, 50%, 50%, 0.5);
  border-right: 4px solid hsl(0, 100%, 35%, 1);
}

.nav__icon {
  stroke-width: 3;
}

.menu-button {
  --menu-button-color: hsl(0, 0%, 0%, 0.7);
  background-color: hsl(25, 25%, 90%);
  border: 2px solid var(--menu-button-color, hsl(0, 0%, 0%, 0.7));
  border-radius: 0.25rem;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 2;
  transform: translateX(300px);
}

.menu-button .line {
  transition: 500ms;
  transform-origin: center;
}

.menu-button:hover :is(.top, .bottom) {
  y: 50;
}

.menu-button:hover .top {
  rotate: 45deg;
}

.menu-button:hover .middle {
  opacity: 0;
}

.menu-button:hover .bottom {
  rotate: -45deg;
}

.userimage {
  max-width: 100%;
  width: 75px;
  aspect-ratio: 1;
}

.slideshow-container {
  position: relative;
}

.slideshow-container img {
  position: absolute;
  width: 100vw;
  height: 100svh;
  opacity: 0;
  object-fit: cover;
  object-position: center;
  transition: opacity 1.5s ease-in-out;
}

.slideshow-container img.visible {
  opacity: 1;
}
