* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
}

ul:where(.nav__list),
li:where(.nav__item) {
  padding: 0;
}

.header {
  position: fixed;
  left: 0;
  width: fit-content;
  min-height: 100svh;
  background-color: hsl(0, 0%, 20%, 0.9);
  z-index: 1;
}

.slideshow-container {
  position: relative;
}

.slideshow-container img {
  position: absolute;
  width: 100vw;
  height: 100svh;
  opacity: 0;
  object-fit: cover;
  object-position: center;
  transition: opacity 1.5s ease-in-out;
}

.slideshow-container img.visible {
  opacity: 1;
}
